@CHARSET "UTF-8";

#many_photo {
	text-align: center;
}

.statement {
	margin: 10px 30px 0;
	font-style: italic;
}

.statement:before {
	content: "\201c";
}

.statement:after {
	content: "\201d";
}

#a_stat {
	padding: 3px 9px;
	background: #CB0000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#a_stat:hover {
	background: linear-gradient(to top, #CB0000, red) repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

#a_knigi:hover, #a_gloss:hover, #a_sait:hover, #a_obrat:hover, #a_shabl:hover,
	#a_stat:hover, #a_glav:hover {
	/* color: #FFCC99; */
	border-bottom: 2px solid #CB0000;
}

#a_knigi:hover {
	
}

.comment_form {
	width: 600px;
	height: auto;
	margin: auto;
}

.comment_textarea {
	height: 150px;
	width: 600px;
}

.comment_input {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	font-weight: bold;
	border-radius: 7px;
	padding: 3px 7px;
	border: 1px solid #666;
	background: #CB0000;
}

.comment_input:hover {
	cursor: pointer;
	background: linear-gradient(to top, #CB0000, red) repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

.ul_comment {
	list-style-type: none;
	margin-top: 10px;
}

.section_comment {
	margin-top: 15px;
	padding-bottom: 15px;
}

#div_comment_header {
	height: 50PX;
	/* background: rgb(202, 216, 230); */
	border-bottom: 3px solid #003366;
	border-left: 3px solid #003366;
	border-radius: 0 0 0 20;
}

h4 {
	padding-top: 15px;
	margin-left: 40px;
}

.li_comment {
	padding-bottom: 15px;
	padding-top: 15px;
	display: block;
	border-bottom: 1px solid grey;
}

.li_comment-of-type{
	border-bottom: none;
}

.imag_avatar {
	width: 70;
	height: 70;
	background: black;
	float: left;
}

.comment_name_and_text{
	float: left;
	padding-left: 20px;
}

.comment_name{

}

.comment_text {
width: 590px;
}

.comment_clear{
	clear: both;
}