@CHARSET "UTF-8";
#many_photo{
	text-align: center;
}

.statement{
	margin: 10px 30px 0;	
	font-style: italic;	
}

.statement:before {
	content: "\201c";
}

.statement:after {
	content: "\201d";
}