#a_gloss {
	padding: 3px 9px;
	background: #CB0000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#a_gloss:hover {
	background: linear-gradient(to top, #CB0000, red) repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

#a_knigi:hover,#a_gloss:hover,#a_sait:hover,#a_obrat:hover,#a_shabl:hover,#a_stat:hover,#a_glav:hover
	{
	/* color: #FFCC99; */
	border-bottom: 2px solid #CB0000;
}

#a_knigi:hover {
	
}

.header_glossary {
	border-bottom: none;
}

.span_italic {
	font-style: italic;
}

.h3_glossary {
	font-size: 14pt;
}

.a_section_link {
	text-decoration: none;
	color: black;
}

.ul_glossary_list {
	margin-top: 5px;
}

.section_glossary{
	margin-bottom: 20px;
}