/* #a_glav {
	padding: 3px 9px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
} */

/* #a_glav:hover {
	background: linear-gradient(to top, #CB0000, red) repeat scroll 0 0
		rgba(0, 0, 0, 0);
}  */

#a_glav:hover,#a_knigi:hover,#a_gloss:hover,#a_sait:hover,#a_obrat:hover,#a_shabl:hover,#a_stat:hover
	{
	/* color: #FFCC99; */
	border-bottom: 2px solid #CB0000;
}

#a_knigi:hover {
	
}

article div ul {
	position: absolute;
	top: 430px;
	z-index: 4;
}

article div ul li {
	display: inline-block;
	background: #003366;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-left: 15px;
	z-index: 5;
	position: relative;
}