body{
 height: auto;	
}

.container_profile {
	margin-left: auto;
	margin-right: auto;
	width: 650px;
}

.main_div_profile {
	height: auto;
	
	margin-top: 100px;
	border-color: #808080;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
	padding: 30px;
	position: relative;
}

.block {
	clear: both;
	margin: 5px 0;
	height: 21px;
}

.field_name {
	width: 170px;
	float: left;
	font-size: 14px;
}

.field {
	float: left;
	width: 300px;
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	color: rgb(90, 94, 99);
	padding: 0 0 13px 0;
	border-bottom: 1px solid #dbdbdb;
}

h4 {
	font: 14px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans,
		sans-serif;
}

.data_user {
	padding: 0 0 5px 0;
	border-bottom: 1px solid #dbdbdb;
}

.field_change_password {
	float: left;
	width: 300px;
	font-size: 14px;
	margin-left: 170px;
}

.href_change_password {
	text-decoration: underline;
	font-weight: bold;
	color: black;
	padding: 0;
	border: none;
	background-color: white;
	font-size: 14px;
}

.href_change_password:hover {
	text-decoration: underline;
	color: #CB0000;
}

.avatar {
	position: absolute;

	width: 100px;
	height: 180px;
	top: 40px;
	right: 50px;
}

/* #file{ */
/* 	visibility: hidden; */
/* } */

.img_avatar {
	background: red;
	width: 120px;
	height: 140px;
}

#cp_modal_background {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	display: none;
	z-index: 10;
	opacity: 0.7;
}

#change_password_form {
	border-color: #808080;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
	top: 20%;
	left: 38%;
	position: fixed;
	z-index: 11;
	height: auto;
	width: auto;
	background-color: white;
	display: none;
	padding: 30px 40px;
	
}

.change_password_p {
	margin-top: 20px;
	font-size: 14px;
	position: relative;
}

.change_password_input {
	width: 180px;
}

.change_password_label {
	width: 180px;
	display: inline-block;
}

.change_password_form_form {
	width: auto;
}

.close_button {
	position: absolute;
	float: right;
	right: 20;
	border-radius: 6;
	padding: 4px;
	top: 20;
	background: #003366;
	cursor: pointer;
}

.close_button:HOVER {
	background: #CB0000;
}

.errorPassword {
	clear: right;
	display: block;
	color: red;
	font-size: 12px;
	position: absolute;
	top: -15;
	right: 0;
}

#h3_detail_info {
	margin-top: 20;
}

.block_detail {
	clear: both;
	margin: 5px 0;
}
.div_parent_table{
	display: table;
	margin: 5px 0;
}
.div_child_table{
	display: table-cell;
	width: 400px;
	font-style: italic;
	vertical-align: top;
}

.a_edit_personal_info{
	position: relative;	
	bottom: 4px;
	left: 10px;
}

